<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>No Active Session</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="container">
            <div id="result-screen" style="display: block;">
                <h1>No Active Session</h1>
                <p class="message error" style="text-align: center;">
                    You don't have an active session
                </p>
                <div style="margin-top: 20px; text-align: left;">
                    <p><strong>1. To check-in:</strong><br><br>
                    <button class="btn" onclick="window.location.href = '/checkin-form';">Check-In</button></p>
                </div>
            </div>
        </div>
    </body>
</html>